server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://switernal.com:3306/mylibrary?useunicode=true&characterEncoding=utf8&autoReconnect=true&useSSL=false&serverTimezone=GMT%2B8
    username: mylibrary
    password: 2333
    driver-class-name: com.mysql.cj.jdbc.Driver
http_pool:
  max_total: 200
  default_max_per_route: 100
  connect_timeout: 5000
  connection_request_timeout: 1000
  socket_timeout: 65000
  validate_after_inactivity: 2000
mybatis-plus:
  configuration:
    call-setters-on-nulls: true